<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <connectionStrings>    
    <add name="SSWARE" providerName="System.Data.SqlClient" connectionString="Data Source=localhost,1433; Initial Catalog=SSWARE; User id=sa; password=sungwon530;Max Pool Size=100;Min Pool Size=1;Connection Lifetime=120;" />
  </connectionStrings>
  
  <appSettings>
    
    <add key="SmtpDomain" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpId" value="ssware.web@gmail.com" />
    <add key="SmtpPassword" value="shin@510647" />
    
    <add key="IsUseActiveDirectory" value="N" />
    <add key="ActiveDirectoryAddress" value="ssware.com" />
  
    <!--<add key="FtpAddress" value="ftp://192.168.0.13:180"/>-->
    <add key="FtpAddress" value="ftp://localhost:180" />
    <add key="FtpId" value="sswarefileftpuser" />
    <add key="FtpPassword" value="sungwon@530" />
    <add key="FtpEncryptIV" value="sungwon@530shin5" />
    
    <!--<add key="ImageFtpAddress" value="ftp://192.168.0.13:181"/>-->
    <add key="ImageFtpAddress" value="ftp://localhost:181" />
    <add key="ImageFtpId" value="sswarefileftpuser" />
    <add key="ImageFtpPassword" value="sungwon@530" />

    <!--<add key="ImageWebServer" value="http://192.168.0.13:81"/>-->
    <add key="ImageWebServer" value="http://localhost:81" />
    
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <authentication mode="Forms">
      <forms loginUrl="Form/Main/Logon.aspx"></forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <sessionState timeout="1440" />
  </system.web>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>

</configuration>
