@{
    ViewData["Title"] = "Home Page";
}

<style>
    .container-fluid{
        background-color:red;
    }
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h1>My Test</h1>
    <div class="container-fluid">
        <h1>Test</h1>
    </div>
</div>
